FORMAT: 1A
HOST: http://private-84b6a-myenergy1.apiary-mock.com

# Energy

Предоставляет в реальном времени текущий месяц использование газа и электроэнергии. Также дается оценка использования следующего биллингового цикла.



## Usage [/usage/current/month/{accountNumber}]

### Current Month [GET]
Returns current month's usage information for the provided customer id.

+ Parameters
    + accountNumber: 4859634 (number) - Customer's account number.
    
+ Request

    + Headers
    
            tenant-id: 1 (number) - Customer's tenant-id
            api-key: 16ec2802-d10c-4395-b70e-582bbdd8825b (number) 

+ Response 200 (application/json)

        
        {
            "account_number": "4859634",
            "name": "iMineev",
            "gas_usage": "20,006 м3",
            "gas_cost": "₽  1,23",
            "electricity_usage": "3,430 kW",
            "electricity_cost": "₽  4,932",
            "environment": "Россия 1",
            "serviceID": "7777"
        }

## Estimate [/estimate/{accountNumber}]

### Estimate [GET]
Returns an estimate of next month's usage information for the provided customer account number.

+ Parameters
    + accountNumber: 4859634 (number) - Customer's account number.

+ Request

    + Headers
    
            tenant-id: 1 (number) - Customer's tenant-id
            api-key: f3ae03ca-0937-4510-be76-775d6ada45e2 (number) 

+ Response 200 (application/json)

        {
            "account_number": "4859634",
            "name": "Darko",
            "gas_estimate_usage": "32,000 Btu",
            "gas_estimate_cost": "¥ 46,896",
            "electricity_estimate_usage": "3,430 kW",
            "electricity_estimate_cost": "¥ 12,932",
            "environment": "Japan 1",
            "serviceID": "7777"
        }